

.video-info{
    display: inline-block;
    width: 250px;
    margin-right: 0;
}
.channel-picture{
    width: 50px;
    vertical-align: top;
}
.profile-picture{
    width: 40px;
    border-radius: 50px
}
.thumbnail-row {
    margin-bottom: 20px;
    position: relative;
}
.thumbnail-image{
    width: 100%;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
}
.video-author,
.video-stats{
    font-size: 14px;
    color: rgb(96,96,96);
}
.video-author{
    margin-bottom: 4px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    z-index: 1;

}

@media (min-width: 1650px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}





.video-time{
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
}

.notif-icon-container{
    position: relative;
}
.notif-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(207, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 12px;
}

